<nav style="margin-top: -50px" class="navbar navbar-inverse">
    <!--navbar-fixed-top-->
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/Images/ads.png" style="height:40px; float: left; margin-top: -10px" />KF ADMIN</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index","SanPham")">SẢN PHẨM</a> </li>
                <li><a href="@Url.Action("Index","ChuDe")">CHỦ ĐỀ</a> </li>
                <li><a href="@Url.Action("Index","NSX")">NHÀ SẢN XUẤT</a> </li>
                <li><a href="@Url.Action("Index","KhachHang")">KHÁCH HÀNG</a> </li>
                <li><a href="@Url.Action("Index","DonDatHang")">ĐƠN HÀNG</a> </li>
                <li><a href="@Url.Action("Index","QuanlyTaiKhoanAdmin")">TÀI KHOẢN QL</a> </li>
                <li><a href="@Url.Action("ThongKe","ThongKe")">THỐNG KÊ</a> </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
</nav>

@*<nav class="navbar navbar-inverse " style=" left: 0%; right: 0%;margin-top:-50px;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapse" data-toggle="collapse"
                    data-target="#navAdmin" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index","Home")">KingFashion Admin </a>

        </div>
        <div class="collapse navbar-collapse" id="navAdmin">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index","SanPham")">SẢN PHẨM</a> </li>
                <li><a href="@Url.Action("Index","ChuDe")">CHỦ ĐỀ</a> </li>
                <li><a href="@Url.Action("Index","NSX")">NHÀ SẢN XUẤT</a> </li>
                <li><a href="@Url.Action("Index","KhachHang")">KHÁCH HÀNG</a> </li>
                <li><a href="@Url.Action("Index","DonDatHang")">ĐƠN HÀNG</a> </li>
                <li><a href="@Url.Action("Index","QuanlyTaiKhoanAdmin")">TÀI KHOẢN QL</a> </li>
                <li><a href="@Url.Action("Index","ThongKe")">THỐNG KÊ</a> </li>
            </ul>

        </div>

    </div>
</nav>
*@