@model IEnumerable<KingFashion.Models.NHASANXUAT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>QUẢN LÝ HẢNG THỜI TRANG</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên hảng thời trang
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Điện Thoại
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNSX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            <a href="@Url.Action("Edit",new { id = item.MaNsx })" class="btn btn-warning" role="button">Sửa</a>
            <a href="@Url.Action("Delete",new { id = item.MaNsx })" class="btn btn-danger" role="button">Xóa</a>
        </td>
    </tr>
}

</table>
