
@{
    ViewBag.Title = "SpdabanDtoD";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminDone.cshtml";
}

@model IEnumerable<KingFashion.Models.CHITIETDATHANG>
@ViewBag.Erroor
@using (Html.BeginForm("SpdabanDtoD", "ThongKe", FormMethod.Get))
{
    <ul class="tkDay">
        <li>
            Chọn ngày kiểm tra từ ngày <input id="firstDay" type="date" name="ngayDau" value="@ViewBag.NgayDau" /> đến
            <input id="lastDay" type="date" name="ngayCuoi" value="@ViewBag.NgayCuoi" /> <input type="submit" value="Xác nhận" />
        </li>
    </ul>
}


@{
    if (Model != null)
    {
    <h2>Sản phẩm đả bán được</h2>
    <table class="table">
        <tr>
            <th>Mã đơn hàng</th>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th>Giá gốc</th>
            <th>Vốn</th>

        </tr>
        @foreach (var sp in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => sp.MaDonHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => sp.MaSp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => sp.SANPHAM.TenSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => sp.SoLuong)
                </td>
                <td>

                    @Html.FormatValue(sp.ThanhTien, "{0:#}")$
                </td>
                <td>
                    @Html.FormatValue(sp.SANPHAM.Giagoc, "{0:#}"@* * sp.SoLuong, "{0:#,##0}"*@)$
                </td>
                <td>
                    @Html.FormatValue(sp.SANPHAM.Giagoc * sp.SoLuong, "{0:#}")$
                </td>

            </tr>
        }
        <tr>

            <td></td>
            <td></td>
            <td></td>
            <td style=" color: red; font-weight: bold; padding: 10px 0px;">
                Tổng số lượng: @Model.Sum(a => a.SoLuong)
            </td>

            <td style=" color: red; font-weight: bold; padding: 10px 0px;">
                Tổng tiền : @string.Format("{0:#}", Model.Sum(s => s.ThanhTien))$
            </td>
            <td></td>
            <td style=" color: red; font-weight: bold; padding: 10px 0px;">
                Tổng vốn : @string.Format("{0:#}", Model.Sum(a => a.SANPHAM.Giagoc * a.SoLuong))  $
            </td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="3" style=" color: red; font-weight: bold; padding: 10px 0px;">
                Lợi nhuận:  @string.Format("{0:#}", Model.Sum(s => s.ThanhTien) - Model.Sum(a => a.SANPHAM.Giagoc * a.SoLuong))$
            </td>
        </tr>
        
    </table>

    }
}
