@model KingFashion.Models.KHACHHANG

@{
    ViewBag.Title = "DetailsUser";
    Layout = "~/Views/Shared/_LayoutCtsp.cshtml";
}

<h2>Xin chào <i>@Html.DisplayFor(model => model.HoTen)<i/></h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Email: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Địa chỉ: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            Ngày sinh: 
        </dt>

        <dd>

            
            @Html.FormatValue(Model.NgaySinh, "{0:dd/MM/yyyy}")
        </dd>

        <dt>
            Tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>

        <dt>
            Mật khẩu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "EditUser", new { id = Model.MaKH }) 
</p>
<hr  />
<div>@Html.Action("Index", "UserDonHang")</div>
