<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link rel="shortcut icon" type="image/png" href="~/Images/ads.png" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <style type="text/css">
        .imgbook {
            transition: all 0.5s ease-in;
            width: 400px;
        }
        .imgsachbannhieu {
            width: 100px;
        }
            .imgbook:hover {
                transform: scale(1.0);
                cursor: pointer;
            }

        a {
            color: black;
            text-decoration: none;
        }

            a:hover {
                color: red;
                text-decoration: none;
            }

        #tet {
            height: auto;
            display: flex;
            flex-direction: column;
            transition: box-shadow 0.5s ;
        }

            #tet:hover {
                box-shadow: 2px 2px 5px 1px black;
            }
        .namesp{
            text-decoration: none;
            color: black;

        }
        .pricesp{
            text-decoration: none;
            color: black;

        }
        .namesp:hover{
            color: blue;
        }
        .pricesp:hover{
            color: red;
            text-decoration: none
        }

        a.on_top {
            opacity: 0.6;
            display: none;
        }

            a.on_top:hover {
                background-color: #007bb6;
                color: #fff;
                border: 1px solid #007bb6;
                opacity: 1;
            }

            a.on_top i {
                font-size: 20px;
            }

        a.on_top {
            border-radius: 6px;
            background-color: #fc4700d3;
            padding: 10px 20px;
            white-space: nowrap;
            color: #fff;
            position: fixed;
            bottom: 50px;
            right: 30px;
            height: 45px;
            text-decoration: none;
        }
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="top"></div>
    @Html.Action("NavPartial", "KingFashion")
    @Html.Action("slidePartial", "KingFashion")

    <div class="container">
        @RenderBody()
    </div>
    <div class="container">
        @Html.Action("SliderPartial", "KingFashion")
    </div>
    <footer class="container well" align="center">
        <p>©2021 - KingFashion</p>
        <p>Website được phát triển từ AEXM để phục vụ tốt nhất cho khách hàng</p>
        <p>Email: aexmking@gmail.com</p>
        <h2>Được tài trợ bởi các hảng thời trang hàng đầu thế giới</h2>
        <ul>

            <li>
                Louis Vuitton,
                Hermès,
                Prada,
                Chanel,
                Gucci,
                Versace,
                Christian Dior,
                Burberry
            </li>
        </ul>

    </footer>
    <a class="on_top" href="#top" style="display: block;"><i class="fa-arrow-circle-up fa">	&#8593;</i></a>
</body>
</html>
